<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>BMI</title>
</head>
<body>
    <h1>BMI Index Calculator</h1> 

    <div>
        <form class = "forum" action="/predict" method="post">
            <label for="ht">Height</label>
            <input type="text" id="ht" name = "height" placeholder="Enter your height"><br>
            <label for="wt">Weight</label>
            <input type="text" name = "weight" id="wt" placeholder="Enter your Weight"><br>
            <input type="submit" name="submit" id="submit_btn"><br>
        </form>
    </div>
    
    
</body>
<footer>Created by copyright@ShyamGoli</footer>
</html>